<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>CATEGORY</h1>
    <%- include('navbar', {links: links}) %>
    <div class="category">
        <!-- <h1>Food Categories</h1> -->
        <img src="/images/category1.png" alt="Los Angeles" style="width: 100%; height: 500px ">
    </div>

    <ol>
        <h3>Food Categories</h3>
        <li>MEAT</li>
        <li>PRODUCE</li>
        <li>DAIRY</li>
        <li>GRAINS</li>
        <li>PANTRY</li>
    </ol>

    <ol>
        <h3>Beverage Categories</h3>
        <li>JUICES</li>
        <li>COFFEE</li>
        <li>SODA AND WATER</li>
    </ol>
        
        
    
</body>
</html>