<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE USERNAME</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1 class="indexhead">THE ODIN KITCHEN INVENTORY APP</h1>
  <%- include('navbar', {links: links}) %>
  <a href="/new">ADD NEW INVENTORY</a>  

  <div class="img">
    <img src="/images/kitchen.jpg" alt="kitchen" width="1000px" class="image">
  </div>

  <div class="overlay">
    THE KITCHEN INENTORY
  </div>

 
</body>
</html>