<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE USERNAME</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1 class="indexhead">THE ODIN KITCHEN INVENTORY APP</h1>
  <%- include('navbar', {links: links}) %>
  
  
  <div class="img">
    <img src="/images/kitchen.jpg" alt="kitchen" width="1000px" class="image">
  </div>



  <div class="overlay">
    THE KITCHEN INENTORY
  </div>

  <div class="content">
  <h1>THE KITCHEN INVENTORY</h1>
  <p>A one stop shop for your favourite meal</p>
  <a href="/new">Add New Inventory</a>  
  </div> 
  
  <!-- <div class="bg-img">
    <form action="" class="container">
      <h1 style="color: white;">Login</h1>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit" class="btn">Login</button>
    </form>
  </div>

   -->
 
</body>
</html>